*{
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
}
body{
    background-image: url("calculator.png");
    background-size: auto;
}
#container{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
h3{
    margin-top: 150px;
    font-style: italic;

}
h1{
    margin-top: 10px;
    color: rgb(223, 12, 160);
    font-weight: bolder;

}
#Percent{
    font-size: 150px;
    font-weight: bold;
    margin: 20px;
}
span{
    font-size: 50px;
    font-weight: bold;
}
#input{
    height: auto;
    width: 90%;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.para{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px;
    margin: 20px 20px 10px 20px;
}
.text{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    padding: 2px 5px ;
    background-color: rgba(223, 12, 160,0.2);
    border-radius: 25px;
    color: white;

}button{
    font-size: 20px;
    padding: 10px 20px ;
    background-color:  rgb(223, 12, 160);
    color: white;
    font-weight: bolder;
    border-radius: 30px;

}